@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% { transform: translateY(0) scale(1); opacity: 0.7; }
  50% { transform: translateY(-40px) scale(1.15); opacity: 1; }
  100% { transform: translateY(0) scale(1); opacity: 0.7; }
}

.animate-float {
  animation: float infinite ease-in-out;
}